body {
    background-color: lightgrey;
    font-family: 'Comic Neue', cursive;
    font-size: 1.5em;
    max-width: 80vw;
}

h1 {
    text-align: center;
    color: darkblue;
}

.signature {
    text-align: center;
    color: darkblue;
}

.content {
    align-self: center;
    padding: 0 2em;
}